{% extends "layout.html" %}
{% block content %}

<body id="about">

<div style="text-align: center">
	<h1>The Texas Trail</h1>
	<h6>A UT Student begins his week and has a very long, eventful week on campus, including parties, classes, test, gameday, kidnapped by Aggies, Bevo, and other outlandish stunts. Start in the apartment waking up, go to class (or not), get drunk, cheer on the horns, go to space, visit the UT Catacombs, and possibly die of dysentery!<br>What’s not to love? </h6><br><br>
	<p><a class='about-hover' href="/game">Let's PLAY NOW</a></p>
	<br><br>
	{%if current_user.is_not_authenticated %}
		<p><a href="/login">Log In and Begin your ADVENTURE</a></p>
	{% endif %}
</div>
</body>

{% endblock %}