{% extends "layout.html" %}
{% block content %}

  <div class='theGrid'>
    <div class='left-body'>
      <h1>Your Account</h1>

      <h2 style= "margin: 5% 0 0 0">
        Progress: 
        {% if current_user.progress[0] == 'a' or current_user.progress[0] == 'b' or current_user.progress[0] == 'c'%}
          Thursday
        {% elif current_user.progress[0] == 'd' or current_user.progress[0] == 'e' or current_user.progress[0] == 'z'%}
          Friday
        {% else %}
          Saturday
        {% endif %}
        <br>
        Status:<br>
        <p style="margin-left: 5%">
          Energy: {{ current_user.energy }} <br>
          Sanity: {{ current_user.sanity }} <br>
          Grades: {{ current_user.grades }} <br>
        </p>
      </h2>

      <br><br>
      <div class='buttonList'>
            <form method ="get" action = "/reset_game"><button class ='button'>Start Over</button></form>
      </div>

        <!-- add routing stuff -->
      <h3>Change Account Info</h3>

      <form method="POST" action="" enctype="multipart/form-data" style= "font-family: Hardware; font-size: 15px">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}

                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group" style="padding: 0 0 5% 0">
              <br><br>
                {{ form.submit(class="button") }}
            </div>

      </form>
    </div>
  </div>


{% endblock %}