{% extends "layout.html" %}
{% block content %}

<div class="center">
<h1>To be continued... </h1>
<h1>More levels coming soon! </h1>
</div>

<div>
	<h2 style= "text-align: center; margin-top: 13%">Your Current Status:</h2><br>
	<p style="text-align: center">
		Energy: {{ current_user.energy }} <br>
		{% if current_user.grades < 70 %}
			GPA: 0.0<br>
		{% elif current_user.grades < 80 %}
			GPA: 1.0<br>
		{% elif current_user.grades < 90 %}
			GPA: 3.0<br>
		{% else %}
			GPA: 4.0<br>
		{% endif %}

		{% if current_user.sanity < 70 %}
			Sanity: Non-existant
		{% elif current_user.sanity < 85 %}
			Sanity: About to snap
		{% else %}
			Sanity: Everything is fine... for now.
		{% endif %}
</div>
<a href="{{ url_for('reset_game') }}"><input type=”button” value=”reset_game”></a>
 
{% endblock %}