{% extends "layout.html" %}
{% block content %}

<div>
Game over idk
</div>
<div>
{% if current_user.energy <= 0 %}
	Unfortunately, you didn't make it through the week alive.<br>
{% elif current_user.energy <= 50 %}
	You made it through the week, but barely. <br>
{% else %}
	Congrats, you made it through the week alive.<br>
{% endif %}
</div>

<div>
Your stats:<br>
{% if current_user.grades < 70 %}
	GPA: 0.0<br>
{% elif current_user.grades < 80 %}
	GPA: 1.0<br>
{% elif current_user.grades < 90 %}
	GPA: 3.0<br>
{% else %}
	GPA: 4.0<br>
{% end if}
{% if current_user.sanity < 70}
	Sanity: Non-existant
{% elif current_user.sanity < 85}
	Sanity: About to snap
{% else %}
	Sanity: This is fine.
</div>

<a href="{{ url_for('reset_game') }}"><input type=”button” value=”reset_game”></a>

{% endblock %}