<!DOCTYPE html>
<html>

	<head>
		<!--  Meta  -->
		<meta charset="UTF-8" />
		<title>The UT Trail</title>
		<meta name="description" content="Survive the Week." />
		<!--  Styles  -->
		<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='style.css') }}" />
		<!-- Title -->
		{% if title %}
			<title>{{ title }}</title>
		{% else %}
			<title>The UT Trail</title>
		{% endif %}

	</head>

	<body>
		<div class="navBar">
			<ul>
			  <a href="/">The UT Trail</a>
			  	{%if current_user.is_authenticated %}
			  		<a href="/account">Account</a>
			  		<a href="/about">About the Game</a>
			  		<a href="/logout">Logout</a>
			  	{% else %}
			  		<a href="/about">About the Game</a>
			  		<a href="/login">Login</a>
			  		<a href="/register">Register</a>
			  	{% endif %}
			</ul>
		</div>
		
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for catergory, message in messages %}
					<div class = "alert alert-{{ category }}">
						<p>{{ message }}</p>
				{% endfor %}
			{% endif %}
		{% endwith %}
		{% block content %}{% endblock %}
	</body>
</html>