{% extends "layout.html" %}
{% block content %}
<div style="text-align: center">
  <h3>Login</h3>
  <div class='theForm'>
        <form method="POST" action="/login">
            {{ form.hidden_tag() }}
                <!-- <legend class="border-bottom mb-4">Login</legend> -->
                
                <div class="form-group">
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid", placeholder='Email') }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg", placeholder='Email') }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid", placeholder='Password') }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg", placeholder='Password') }}
                    {% endif %}
                </div>
                <div class="form-group">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                    {{ form.remember.label }}
                    {{ form.remember }}
                </div>
             <br><br>   
            <div class="form-group">
                {{ form.submit(class="button") }}
            </div>
        </form>
    <small>don't have an account? <a href="/register">register</a><br>
    <a href="{{ url_for('password_retrieval') }}">forgot your password?</a>
    </small>


   </div>
  <!-- <div class="border-top pt-3"> -->
    
</div>

<script src="./static/script.js"></script>

{% endblock content %}
