{% extends "layout.html" %}
{% block content %}

<body id="game">
<!-- <img id="imagePlaceholder" src="{{url_for('static', filename='netflix.png')}}" alt=""> -->
	
	<!-- <img src="static/{{ art }}" alt="image.png" width="350" height="350" /> -->
	<img src="{{url_for('static', filename=art)}}" alt="image.png" width="350" height="350" />
	<br><br>

<div style="text-align: left; position: absolute; bottom: 0; padding: 0 5% 0 0;">
	<p style = "margin: 0 0 0 0">
	{% for i in range(prompts|length) %}
		{% if i == 1 %}
			{% for options in prompts[i] %}
				{{ options }} <br>
			{% endfor %}
		{% else %}
			{{ prompts[i] }}
			<br><br>
		{% endif %}
	{% endfor %}
	<div class="theForm">
		<form method="POST" action="/game">
			{{ form.hidden_tag() }}
			{{ form.label }}
				<div class="form-group">
				<p style="margin: 0; padding: 2% 0 0 0; font-size: 30px">What is your choice? {{ form.ans( id="input_box") }}</p>
				</div>

		</form>
	</div>
	</p>
</div>
</body>

{% endblock %}