{% extends "layout.html" %}
{% block content %}


<body id="game">
<div style="text-align: center">
	{% if progress == 0 %}
		<!-- picture -->
		<h2>You are getting ready for the day. You should really go to class:</h2><br><br>
		<p>
		1. Go to class<br>
		2. Skip class<br>
		</p>
	{% else %}
		<!-- picture -->
		This is not supposed to show up
	{% endif %}
	<div class="theForm">
		<form method="POST" action="/game">
			{{ form.hidden_tag() }}
				<div class="form-group"></div>
					{{ form.ans }}
		</form>
	</div>
</div>
</body>

{% endblock %}