{% extends "layout.html" %}
{% block content %}

<body id="game">
<div style="text-align: left; position: absolute; bottom: 0; padding: 0 5% 0 0;">
	<h2 style = "margin: 0 0 0 0">
	{% for i in range(prompts|length) %}
		{% if i == 1 %}
			{% for options in prompts[i] %}
				{{ options }} <br>
			{% endfor %}
		{% else %}
			{{ prompts[i] }}
			<br><br>
		{% endif %}
	{% endfor %}
	<div class="theForm">
		<form method="POST" action="/game">
			{{ form.hidden_tag() }}
			{{ form.label }}
				<div class="form-group">
				<h2 style="margin: 0; padding: 5% 0 0 0">What is your choice? {{ form.ans( id="input_box") }}</h2>
				</div>

		</form>
	</div>
	</h2>
</div>
</body>

{% endblock %}